CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/zamora-tb32-main/public/'

database.default.hostname = localhost
database.default.database = tfa2_pos
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.port = 3306
